
body{
    background-color: #B91450;
    font-family:Arial, Helvetica, sans-serif;
}

h6 {
    font-weight: bold;
    padding-bottom: 2rem;
}

.utente-form label {
    color: #B91450;
}

.form-input {
    width: 80%;
    margin: auto;
    border: 1px solid #B91450;
    text-align: center;
}

.btn-stampa {
    --bs-btn-color: #B91450;
    --bs-btn-bg: var(--bs-gray-300);
    --bs-btn-border-color: var(--bs-gray);
    --bs-btn-hover-border-color: #B91450;
    --bs-btn-border-radius: .7rem;
    letter-spacing: .5px;
}

